/* basic reset, will be updated later 
*{margin:0;padding:0;}*/

/*design specification for semantic tag */
body {
  
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}
 
header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 2em;
    text-align: center;
}

/*design style guide for image and buttons and user interaction */
img{border-radius: 10px; opacity: 0.8;}

.button1 {
    padding: 0.5em 1em;
    background-color: #6f777f !important;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px; display: inline-block;
}

.button1:hover {
    background-color: #0056b3;
}

img:hover{opacity: 1;}